
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .abc{
            width:500px;
            height:200px;
            float:left;

        }
    </style>
</head>
<body>
    <div> 
        <p>The First WeBpage Functionality </p>
        <p> Making the Data Entry Form</p>
        v>
        @ViewBag.Greeting World (from the view)
        <p>
            We're going to have an exciting party.<br />
            (To do: sell it better. Add pictures or something.)
            @Html.ActionLink("Go to CustomerPage", "RsvpForm")
</div>
</body>
</html>
