
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .abc{
            
            height:200px;
            
            padding-top: 10em;
            align-content:center;
            text-decoration:none;

        }
         .btn a{
            color: white;
            
        }
        body{
            background-color: #F1F1F1; 
        }
    </style>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="nav navbar-inverse">
        <div class="container">
            <div class="navbar-brand>

                <div class="page-header">
                    <h1>  <img src="~/scripts/Images/logo.png" width="70" height="60"; /><span style="margin-top:3em; color:white;"> WMart</span></h1>
                </div>
            </div>
            <div class=""></div>
        </div>
    </div>
        <div class="text-center">
            <div class="row">
            </div>
            <div class="col-md-6">
                <h2> We're going to have an exciting party.<br /></h2>

            </div>
            <div class="col-md-6">
                <h3>(To do: sell it better. Add pictures or something.)</h3>
            </div>
                

            <div class="abc text-center center">
                <h3><br />@ViewBag.Greeting World (from the view)</h3>
                <div class="btn btn-success ">

                    <center>@Html.ActionLink("Go to CustomerPage", "RsvpForm")</center>

                </div>
            </div>
            </div>
    
</body>
</html>
