 .header{
            padding : 0px 20px 40px 20px;
            margin:auto;
            float:left;
            width:100%;
            height:200px;
            background-color:#ff0000;
        }
        .width40px{
            padding-left:25em;
            margin :auto;
            z-index:30;
        }
        .background{
            background-color:antiquewhite;
            width:100%; /*please dont alter the values*/
            height:100%;/*please dont alter the values*/
        }
        .headings{
            text-wrap:normal;
            font-weight:bold;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:25px;
            color:black;
            text-align:justify;
            padding-left:3em;
        }
